body{
    background: rgba(0,0,0,0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: block;
}
h1{
    text-align: center;
}
p{
   margin-top: 5px; 
   text-align: center;
}
footer{
    text-align: center;
    display: block;
    word-spacing: 20px;
}
.croissant-photo{
    display: block;
    max-width: 100%;
    margin: 20px;
    border-radius: 10px;
}